---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About">
  <h1 class="text-3xl font-bold text-gray-900 dark:text-white mb-8">About</h1>
  <div class="prose">
    <p>
      I recently completed my Ph.D at the University of Toronto. My thesis advisor was
      <a href="http://www.math.toronto.edu/balint/">Bálint Virág</a> and my research
      focused on probability theory.
    </p>
    <p>
      I am now trying to bridge the gap from academia to industry by teaching myself some
      machine learning; specifically I have been playing around a lot with R, Python, and
      some statistical analysis.
    </p>
    <p>
      The (optimistic) plan is that this website will contain the projects I am working on
      in order to teach myself these things.
    </p>
  </div>
</BaseLayout>
